#it holds environment variables the connection string of variable
DATABASE=
MY_SECRET=
NODE_ENV=
EMAIL_USER=
EMAIL_PASS=
CLIENT_URL=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_FROM=
BASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REFRESH_SECRET=
FRONTEND_URL=
TEAM_EMAIL=
RECAPTCHA_SECRET_KEY=